.producto {
  background-color: cadetblue;
  border: black solid 0.2rem;
  color: black;
  padding: 1.6rem;
  margin: 1rem;
}

.stock-button {
  background-color: red;
  color: white;
  font-weight: 600;
  margin: 1.5rem 0.4rem 0.4rem 0.4rem;
  padding: 0.7rem;
}

.non-stock-button {
  background-color: greenyellow;
  color: black;
  font-weight: 600;
  margin: 1.5rem 0.4rem 0.4rem 0.4rem;
  padding: 0.7rem;
}